# ------------------------------------------------------------------------------
# ORIGEN Platform
# Docker Environment Variables
# ------------------------------------------------------------------------------

# ------------------------------------------------------------------------------
# SQL Server
# ------------------------------------------------------------------------------

SQLSERVER_CONTAINER_NAME=origen-sqlserver

SQLSERVER_IMAGE=mcr.microsoft.com/mssql/server:2022-latest

SQLSERVER_PORT=1433

SQLSERVER_DATABASE=ORIGEN

SQLSERVER_USER=sa

SQLSERVER_PASSWORD=change-me

SQLSERVER_PID=Developer

SQLSERVER_ACCEPT_EULA=Y

# ------------------------------------------------------------------------------
# Docker Network
# ------------------------------------------------------------------------------

DOCKER_NETWORK=origen-network

# ------------------------------------------------------------------------------
# Docker Volume
# ------------------------------------------------------------------------------

SQLSERVER_VOLUME=origen-sqlserver-data

# ------------------------------------------------------------------------------
# Spring Boot
# ------------------------------------------------------------------------------

SPRING_PROFILES_ACTIVE=docker

JWT_ISSUER=ORIGEN

JWT_SECRET=change-me
