:host {
    display: block;
    height: 100vh;
}

.layout-container {
    height: calc(100vh - 64px);
    background: #F6F8FB;
}

mat-sidenav {
    width: 280px;
    border-right: 1px solid var(--color-border);
    background: var(--color-surface);
    overflow-x: hidden;
}

mat-sidenav-content {
    background: var(--color-background);
}
